
font.txt
{font-family:  verdana;background: ;color:#999999;font-size: 12px;font-weight: normal;text-decoration: none;cursor: default;line-height:21px;}

font.paso
{font-family:  verdana;background: ;color:#ffffff;font-size: 12px;font-weight:bold;text-decoration: none;cursor: default;}
 
font.notit
{font-family:  verdana;background: ;color:#ff0000;font-size: 12px;font-weight:normal;text-decoration: none;cursor: default;}

font.notxt
{font-family:  verdana;background: ;color:#525252;font-size: 12px;font-weight:normal;text-decoration: none;cursor: default;}
 
font.req
{font-family:  verdana;background: ;color:#ff0000;font-size: 10px;font-weight:normal;text-align:right;text-decoration: none;cursor: default;}
 
font.gartit
{font-family:  verdana;background: ;color:#ff0000;font-size: 12px;font-weight:normal;text-decoration: none;cursor: default;}

font.dato
{font-family:  verdana;background: ;color:#777777;font-size: 12px;
	font-weight: normal;text-decoration: none;cursor: default;line-height:21px;}

font.det
{font-family:  verdana;background: ;color:#777777;font-size: 10px;font-weight: normal;text-decoration: none;cursor: default;line-height:10px;}

font.precio
{font-family:  verdana;background: ;color:#999999;font-size:17px;font-weight: normal;text-decoration: none;cursor: default;}

font.envio
{font-family:  verdana;background: ;color:#999999;font-size: 10px;font-weight: normal;text-decoration: none;cursor: default;}

div.notetit
{font-family:  century gothic;background: ;color:#ff0000;font-size: 21px;font-weight: normal;text-decoration: none;cursor: default;line-height:25px;}

div.notetxt
{font-family:  verdana;background: ;color:#434343;font-size: 13px;font-weight: normal;text-decoration: none;cursor: default;line-height:22px;}


font.confirme
{font-family:  Arial,Helvetica,Sans-Serif;background: ;color:#555555;font-size: 20px;font-weight: bold;text-decoration: none;cursor: default;}
font.advert
{font-family:  Arial,Helvetica,Sans-Serif;background: ;color:red;font-size: 20px;font-weight: normal;text-decoration: none;cursor: default;}





 font.tdesc
{font-family: Arial,  verdana;background: ;color:#757474;font-size: 12px;font-weight: normal;text-decoration: none;cursor: default;line-height:15px;text-transform:uppercase;}
 
 font.tblack
{font-family: Arial,  verdana;background: ;color:#111111;font-size: 12px;font-weight: bold;text-decoration: none;cursor: default;line-height:20px;text-transform:uppercase;}

							
							
font.acctit
{font-family:  verdana;background: ;color:#ffffff;font-size: 14px;
	font-weight: bold;text-decoration: none;cursor: default;line-height:20px; cursor:hand;}

font.inptxt
{font-family:  arial;background: ;color:#353845;font-size: 12px;text-transform:uppercase;
	font-weight: bold;text-decoration: none;cursor: default;line-height:24px; cursor:hand;}


A.edit:link			{ color:#b0cb39;	font-size: 13px;	font-weight: normal;	font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; }
A.edit:visited	{ color:#b0cb39;	font-size: 13px;	font-weight: normal;	font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none;}
A.edit:hover		{ color:#cfe36d;	font-size: 13px;	font-weight: normal;	font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none;}





	
	
div.cartselect {float:left;width:100%; margin-bottom:20px; background-color:;padding:0px;}
div.carttabs {float:left;width:100%;max-width:440px;	margin-right:20px;background-color:;padding:0px;}
div.cartbag {float:left;width:100%;max-width:438px;background-color:;padding:0px;}
div.cartcupon {float:left;width:100%;max-width:420px;background-color:blue;padding:0px;display:none;}
div.cartbagcont {margin:0px;}

table.chselect {height:45px; width:100%; 
border:1px solid #333333;
    border-bottom:1px solid #222222; 
    border-top:1px solid #777777; }
    

/*Temporal cambia el formato a una columna dependiendo del width de la ventana*/
 @media screen and (max-width: 900px) {
div.cartselect {float:left;width:100%;max-width:440px; margin-bottom:0px; background-color:;padding:0px;}
div.carttabs {float:left;width:100%;max-width:440px;	margin-right:20px;background-color:;padding:0px;}
div.cartbag {float:left;width:100%;max-width:440px;background-color:;padding:0px;	}
div.cartcupon {float:left;width:100%;max-width:440px;background-color:blue;padding:0px;display:none;	}
div.cartbagcont {padding:15px;border: 1px solid gray;		background-image: url(ftabla.jpg);	background-position: center top;	background-repeat: repeat;	
-moz-border-radius: 0 0 13px 13px;
border-radius: 0 0 13px 13px;}
	}
	
	    
/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion {     margin: 0 auto;}

.accordion{
  background:#ccc ;
    line-height: 14px;
    margin:0;
    padding:10px 15px;
    font-size:14px;
    font-weight:normal;
    border:1px solid #fff;
    border-bottom:1px solid #ddd; 
    cursor:pointer;

}
/* accordion header */
#accordion h2 {
    background:#e70082 url(/mod/borde.jpg);
    margin:0;
    padding:12px 15px;
    font-size:14px;
    font-weight:normal;
    border:1px solid #333333;
    border-bottom:1px solid #222222; 
    border-top:1px solid #777777; 
    cursor:pointer;
    display:block;
}

/* currently active header */
#accordion h2.current {    
		background:#aaaaaa;
    cursor:default;
}


/* accordion pane */
#accordion .pane {
    border:0px;
    margin-top:0px;
    margin-bottom:0px;
    display:none;
    /* height:520px; */
    padding:0px;
    color:#fff;
    font-size:12px;
    background-color: white;
}

/* a title inside pane */
#accordion .pane h3 {
    font-weight:normal;
    margin:0;
    font-size:16px;
    color:#999; 
}












	.header {font-family:sans-serif, sans-serif; font-size: 48pt; COLOR:#ffffff; padding-left:10; padding-right:5; font-weight:100 }
	.text {font-family:sans-serif,sans-serif; font-size: 12px; color:#FFFFFF; padding-left:20; padding-right:10 }
	.text2 {font-family:sans-serif,sans-serif; font-size: 18px; color:#FFFFFF; padding-left:20; padding-right:10 }
	.text3 {font-family:sans-serif; font-size: 14px; color:#FFFFFF; padding-left:20; padding-right:10; font-weight:bold }
	
	.textleftbar {font-family:sans-serif,sans-serif; font-size: 12px; color:#FFFFFF; padding-left:20; padding-right:10 }
	.bottombar {font-family:sans-serif,sans-serif; font-size: 11px; color:#FFFFFF; text-align:center; padding-top:50px; padding-bottom:10px }
	.bottombar a:link{color:#FFFF00;text-decoration:none}
	.bottombar a:hover{color:#000000;text-decoration:underline; border-bottom: 1px solid #000000; background: #F0CB60;}
	.bottombar a:active{color:#FFFF00;background:black;textdecoration:overline}
	.bottombar a:visited{color:#FFFF00;text-decoration:none}
	
	.news {font-family:sans-serif, sans-serif; font-size: 24px; color:#ffffff; padding-left:20; padding-right:5; font-weight:900;  }
	.title {font-family:sans-serif; font-size: 18px; color:#ffffff; padding-left:20; padding-right:5; font-weight:900;  }
	
	a:link{text-decoration: none; color: #9E0B0E}
	a:visited{text-decoration: none; color: #9E0B0E}
	a:hover{text-decoration: none; color: #9E0B0E}
	a:active{text-decoration: none; color: #9E0B0E}

/* Invoices CSS */

.tbltextttl,.tbltextttl a:link, .tbltextttl a:active, .tbltextttl a:visited  {
	font-size: 12px;
	font-family:Arial;
	font-weight:bold;
}
.tbltextttl b   {
	font-size: 12px;
	font-family:Arial;
	color:#FF0000;
	font-weight:bold;
}
.tbltextttl a:hover {
	font-size: 12px;
	font-weight:bold;
	BACKGROUND: #ffffe0;
	text-decoration : overline underline;
}

.smalltext {
	font-size: 10px;
	font-family:Arial;
	color: #000000;
	font-weight:bold;
}

.menu_bar_title {
	font-family: arial;
	font-size: 10px;
	font-weight:bold;
	background-color: #C0C0C0;
	color: #000000;
}

.stdtext, p, td {
	font-size: 12px;
	font-family:Arial;
}



span.movil  { display:none;} 


 font.setptit
{background: ;color:#80c238;font-size: 27px;font-weight: normal;text-decoration: none;cursor: default;line-height:30px;}

	td.step 		{ text-align:left; width:300px;} 


 div.prod { width:100%;max-width:990px;background-color:; padding:0 15px;text-align:justify; clear: both;}


 font.carttit
{background: ;color:#333333;font-size: 23px;font-weight: normal;text-decoration: none;cursor: default;line-height:30px;}
   div.cartmain { width:680px;background-color:; padding:0  0px;text-align:justify; clear: both;}
	
	td.cartright 		{ text-align: left;vertical-align:top;width:285px;} 
	
.error{
	font-family: Tahoma;
	font-size: 11px;
	color:#FF0000;
}



textarea{
	border:1px solid #339933;
	font-family: Arial;
	font-size: 10px;
	padding-left:4px;
	padding-right:4px;
	padding-top:1px;
	padding-bottom:1px;
}


input.button {
	background-color: #2874c0;
	background-image: url(/images/gradient11.png);
	background-position: bottom;
	background-repeat: repeat;
	border: none;
		color:#ffffff;	text-shadow:1px 1px 2px #111111;
	cursor: pointer;
	font-family: Arial;
	font-weight: normal;
	font-size: 14px;
	height: 40px;
	width: 100px;
	border: 0px solid #2874c0;		
	-moz-border-radius: 7px;
		border-radius: 7px;		
		
		-moz-box-shadow: 0 0px 2px #444;
		-webkit-box-shadow: 0 0px 2px #444;
		box-shadow: 0 0px 2px #444;
}
input.buttonimg {
	border:0
}


input.radio {
	border:0px;
	font-family:Arial, sans-serif;
	font-size: 10px;

}

input.checkbox {
	border:0px;
	font-family:Arial, sans-serif;
	font-size: 10px;
}




div.inptext
	{
		width:35%; 
 		padding: 0px;
		margin-bottom:0px;
		margin-top:2px;
		float:left;
		font-weight: normal;
		font-family: arial;
		font-size:12px;
		overflow:hidden; 
		text-align:left;
		background-color:;
	}
div.inpbox
	{
		width:65%; 
		min-height:25px;
		padding: 0px;
		margin-bottom:0px;
		margin-top:2px;
		float:left;
		text-align:left;
		background-color: ;
		font-size:12px;
	}


div.cartcol
	{
		float:left;
		width:48%;
		margin:0px 1% 3px 1% ;
		background-color: ;
		height:33px;
	}
	
	div.cartpay
	{
		float:left;
		width:70%;
		margin:0px 1% 3px 1% ;
		background-color:;
		height:33px;
	}
	
	
.input 
	{
		border: 1px solid #aaaaaa;
		background-color: #ffffff;
		font-family: verdana, arial;
		color:#727272;
		font-size: 12px;
		height:25px;
		width:90%;
		background-image:url(inpdeg.jpg) top left;
		background-repeat: repeat-x;
		line-height:17px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		padding: 0px 0px 0px 7px; 
		margin-bottom:5px;
	}
.input:hover 
	{
		border: 1px solid #888888;
		background-color: #ffffff;
		-moz-box-shadow: 0 0px 5px #dadada;
		-webkit-box-shadow: 0 0px 5px #dadada;
		box-shadow: 0 0px 5px #dadada;
	}
	

.inputdisabled
	{
		border: 1px solid #cccccc;
		font-family: verdana, arial;
		color:#ffffff;	text-shadow:1px 1px 2px #111111;
		font-size: 12px;
		height:25px;
		width:90%;
		background-image:url( ) bottom left;
		background-repeat: repeat;
		background-color: #cccccc;
		line-height:17px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		padding: 0px 0px 0px 7px; 
		margin-bottom:5px;
	}

.inputbox
	{
		border: 1px solid #aaaaaa;
		background-color: #ffffff;
		font-family: verdana, arial;
		color:#727272;
		font-size: 12px;
		height:25px;
		background-image:url(inpdeg.jpg) top left;
		background-repeat: repeat-x;
		line-height:17px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		padding: 0px 0px 0px 7px; 
		margin-bottom:5px;
	}
.inputbox:hover 
	{
		border: 1px solid #888888;
		background-color: #ffffff;
		-moz-box-shadow: 0 0px 5px #dadada;
		-webkit-box-shadow: 0 0px 5px #dadada;
		box-shadow: 0 0px 5px #dadada;
	}






.inputRequerido
	{
		border: 1px solid #ff0000;
		background-color: #ffffff;
		font-family: verdana, arial;
		color:#727272;
		font-size: 12px;
		height:25px;
		width:90%;
		background-image:url(inpdeg.jpg) top left;
		background-repeat: repeat-x;
		line-height:17px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		padding: 0px 0px 0px 7px; 
		margin-bottom:5px;
	}
.inputRequerido:hover 
	{
		border: 1px solid #ff0000;
		background-color: #ffffff;
		-moz-box-shadow: 0 0px 5px #dadada;
		-webkit-box-shadow: 0 0px 5px #dadada;
		box-shadow: 0 0px 5px #dadada;
	}
	

.inputboxRequerido
	{
		border: 1px solid #ff0000;
		background-color: #ffffff;
		font-family: verdana, arial;
		color:#727272;
		font-size: 12px;
		height:25px;
		background-image:url(inpdeg.jpg) top left;
		background-repeat: repeat-x;
		line-height:17px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		padding: 0px 0px 0px 7px; 
		margin-bottom:5px;
	}
.inputboxRequerido:hover 
	{
		border: 1px solid #ff0000;
		background-color: #ffffff;
		-moz-box-shadow: 0 0px 5px #dadada;
		-webkit-box-shadow: 0 0px 5px #dadada;
		box-shadow: 0 0px 5px #dadada;
	}




div.spacer
{width:200px; height:10px; background-color:;}
/*==============================================================================================*/
/*                                                                                              */
/*                                        1024 px                                                */
/*                                                                                              */
/*==============================================================================================*/
@media screen and (max-width: 1024px) {

  div.prod {width:100%;max-width:780px;}
   div.cartmain { width:480px;background-color:; padding:0  0px;text-align:justify; clear: both;}
   
 div.cartcol
	{
		float:left;
		width:100%;
		margin:0px 0px 3px 0px ;
		height:30px;
	}
 div.cartpay
	{
		float:left;
		width:100%;
		margin:0px 0px 3px 0px ;
		height:30px;
	}

div.inptext
	{
		width:25%; 
	}
div.inpbox
	{
		width:75%; 
	}
	
	.input 
	{
		border: 1px solid #aaaaaa;
		background-color: #ffffff;
		font-family: verdana, arial;
		color:#727272;
		font-size: 12px;
		height:25px;
		width:92%;
	}
.input:hover 
	{
		border: 1px solid #888888;
		background-color: #ffffff;
		-moz-box-shadow: 0 0px 5px #dadada;
		-webkit-box-shadow: 0 0px 5px #dadada;
		box-shadow: 0 0px 5px #dadada;
	}
	
.inputdisabled
	{

		font-size: 12px;
		height:25px;
		width:92%;
	}

.inputbox
	{

		font-size: 12px;
		height:25px;
	}




.inputRequerido 
	{
		border: 1px solid #ff000;
		background-color: #ffffff;
		font-family: verdana, arial;
		color:#727272;
		font-size: 12px;
		height:25px;
		width:92%;
	}
.inputRequerido:hover 
	{
		border: 1px solid #ff000;
		background-color: #ffffff;
		-moz-box-shadow: 0 0px 5px #dadada;
		-webkit-box-shadow: 0 0px 5px #dadada;
		box-shadow: 0 0px 5px #dadada;
	}
 

.inputboxRequerido
	{

		font-size: 12px;
		height:25px;
	}
	


}
	
	
/*==============================================================================================*/
/*                                                                                              */
/*                                        800 px                                                */
/*                                                                                              */
/*==============================================================================================*/
@media screen and (max-width: 800px) {


span.movil  { display:inline;}

 div.cartcol
	{
		float:left;
		width:100%;
		margin:0px 0px 3px 0px ;
		height:60px;
	}

 div.cartpay
	{
		float:left;
		width:100%;
		margin:0px 0px 3px 0px ;
		height:60px;
	}
	
table.home {display:block;width:100%;max-width:570px;}

  div.mhome { max-width:570px;}
  
 table.comment { width:90%;max-width:570px;}
 
 
 div.comment {
 	width:100%;
 }

	div.right 		{ display:none;} 
	
  div.mleft {display:none;}
	
	
	div.cartimg 	{ float:left; width:120px;} 
	div.carttxt 		{ float:left; width:100%;} 
	div.cartdel 		{ float:left; width:100%;margin-top:0px;text-align:center;padding: 10px 0px;} 
	
	
	
table.header {display:block;width:100%;max-width:570px;}
div.content {display:block;width:540px; padding:0px 15px;}


div.prod {width:100%;max-width:550px;}
div.menunegro{width:100%;max-width:550px;}

 div.prodadd {	 width:100%;}	
 
font.prodpri
{display:block; line-height:15px; background-color:;}
 
table.catline {width:100%;max-width:570px;margin-top:120px;}
table.catline2 {width:100%;max-width:570px;margin-top:120px;}

td.cartright { display:none;} 

	td.ofertadls 		{ background-image:url(/images/x.gif);						 background-repeat:no-repeat; background-position: left top ;}  
	
	td.step 		{ display:none;} 
td.left { display:none;} 
td.cleft { display:none;} 
td.qty { display:none;} 
td.logo { display:none;} 
span.go2  { display:none;} 

span.show2  { display:inline;} 

table.catline {width:100%;max-width:570px;}
table.catline2 {width:100%;max-width:570px;}

td.movil { display:inline-table; } 

span.movil  { display:inline;}

td.hmid { display:none;} 
td.ccomplex { display:none;} 
td.csimple { display:inline-table;} 
div.msearch { display:block;margin:10px 0px;} 
	

A.cart:link			{ color:#111111;	font-size: 16px;	font-weight: normal;	font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; background-color:;padding:10px 15px;}
A.cart:visited	{ color:#111111;	font-size: 16px;	font-weight: normal;	font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; }
A.cart:hover		{ color:#111111;	font-size: 16px;	font-weight: normal;	font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; }




div.footdiv { width:30%; float:left;padding:0px;margin:1%; } 
div.footdiv3 { width:60%; float:left;padding:0px;margin:1%; }
div.footdiv2 { width:34%; float:right;padding:0px;margin:1%; } 


a.mmenu img 					{}
a.mmenu:hover img 		{background-color:;}

div.inptext
	{
		width:100%; 
 		padding: 0px;
		margin-bottom:0px;
		margin-top:2px;
		float:left;
		font-size:13px;
		overflow:hidden;
	}
div.inpbox
	{
		width:100%; 
		padding: 0px;
		margin-bottom:5px;
		margin-top:0px;
		float:left;
	}


div.listado { width:95%; height:170px; border: 1px solid #e7e7e7;margin:2% 2% 0% 2%;
		background: url(/images/x.gif) top center;
		background-repeat: no-repeat;
		}	

div.listado:hover { 
		background: url(/images/x.gif) top center;
		background-repeat: no-repeat;
		}	

 div.listimg {  float:left;  width:35%;text-align:center;  }	
 div.listtxt {	float:right; height:95px;width:65%;text-align:left;  background-color:;}	




 
 
font.listname {
	text-decoration: none;
	line-height:18px; cursor:hand;	width:95%;
	display:block; margin: 0px 7px 0px 7px;
}


  table.topheader2				
{position:fixed;top:0px;left:0px;z-index:200;
}

A.add:link					
{background-color: #222222;	
	font-size: 13px;	border: 1px solid #444444;	padding: 9px 15px 9px 15px;	
			-moz-border-radius: 7px;white-space:nowrap;
	}
A.add:visited			
{background-color: #222222;	
	color:#ffffff;	
border: 1px solid #444444;	text-align:center;	
		text-decoration: none;}
A.add:hover				
{background-color: #444444; color:#ffffff;	

		}
		

 div.promo {float:left;width:100%;max-width:800px;background-color:;}
	
	
	
	}
	
/*==============================================================================================*/
/*                                                                                              */
/*                                        570 px                                                */
/*                                                                                              */
/*==============================================================================================*/
@media screen and (max-width: 570px) {
@media screen and (max-width: 570px) {
 
   
div.cartmain { width:96%;background-color:; padding:0  2%;text-align:justify; clear: both;}
div.prod {width:91%;background-color:}

	}