@charset "UTF-8";
/* CSS Document */
body, html{
	margin:0;
	padding:0;
	line-height:100%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
p{
	float:left;
	width:100%;
	font-size:14px;
	margin-bottom:10px;
}
intput, intput:focus{
	outline:none;
}
h1, h2, h3, h4, h5, h6{
	float:left;
	width:100%;
	line-height:100%;
}
a,a:hover{
	text-decoration:none
}
.page_main_wrapper{
	float:left;
	width:100%;
}
.px1000{
	width:98%;
	max-width:1000px;
	margin:0 auto;
	padding:0 1%;
}
.col_set{
	float:left;
	width:100%;
	margin:5px 0;
}
.col_1_2{
	float:left;
	width:48%;
	padding:0 1%;
}
.col_1_3{
	float:left;
	width:32.33%;
	padding:0 0.5%;
}
.col_2_3{
	float:left;
	width:65%;
	padding:0 1%;
}
.col_1_4{
	float:left;
	width:23%;
	padding:0 1%;
}
.col_3_4{
	float:left;
	width:73%;
	padding:0 1%;
}

/* INPUTS */
input{
	border:1px solid rgba(0,0,0,0.3);
}
.inputs_style_2 .form_field input[type="text"]{
	float:100%;
	width:96%;
	padding:10px 2%;
	background:rgba(0,0,0,0.2);
	border-bottom:1px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	font-size:12px;
	-moz-box-shadow:inset 2px 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:inset 2px 2px 2px rgba(0,0,0,0.4);
	box-shadow:inset 2px 2px 2px rgba(0,0,0,0.4);
	color:#333 !important;
}
.inputs_style_2 .form_field input[type="text"]:focus{
	outline:none;
	background:rgba(255,255,255,0);
	transition:all 1s ease-in-out;
	-moz-transition:all 1s ease-in-out;
	-webkit-transition:all 1s ease-in-out;
}

.button_style_1{
	float:left;
	width:100%;
	display:inline-block;
	outline:none;
	cursor:pointer;
	border:1px solid rgba(0,0,0,0.5);
	padding:10px 0;
	text-align:center;
	font-size:18px;
	color:#FFF;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-bottom:3px solid rgba(0,0,0,0.6);
	transition:background 0.5s ease-in-out;
	-moz-transition:background 0.5s ease-in-out;
	-webkit-transition:background 0.5s ease-in-out;
	text-transform:uppercase;
}
.button_style_1:active{
	border-bottom:3px solid rgba(0,0,0,0);
	-moz-box-shadow:inset 2px 2px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:inset 2px 2px 2px rgba(0,0,0,0.5);
	box-shadow:inset 2px 2px 2px rgba(0,0,0,0.5);
}

.footer{
	float:left;
	width:98%;
	margin-top:10px;
	padding:10px 1%
}
.footer_text{
	float:left;
	width:69%;
	font-size:12px;
	color:#FFF;
	line-height:30px;
	vertical-align:central;
}
.social_icons{
	float:right;
	width:20%;
}
.social_icons ul{
	float:right;
	width:100%;
	text-align:right;
	padding:0;
	margin:0;
	list-style:none;
	height:30px;
}
.social_icons ul li{
	display:inline-block;
}
.tnkyoupage_banner{
	float:left;
	width:100%;
}
.tnkyoupage_banner img{
	width:100%;
}
.tnk_logo_section, .tnk_main_logo{
	float:left;
	width:100%;
}
.tnk_logo_section{
	padding:10px 0;
}
.tnk_main_logo{
	text-align:left;
}
.tnk_main_logo img{
	max-width:100%;
}
@media only screen and (max-width: 680px){
.col_1_2, .col_1_3, .col_1_3, .col_1_4, .col_3_4{
	float:left;
	width:98%;
	padding:0 1%;
}
.footer_text{
	width:100%;
	text-align:center
}
.social_icons{
	width:100%;
	margin-top:5px;
}
.social_icons ul{
	text-align:center;
}
}