/*** GENERALS AND COLORS ***/
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
body{
	background:#000;
	font-family: 'Oswald', sans-serif;
}

.black_section{
	background:#000;
	color:#FFF
}
.white_section{
	background:#FFF;
	color:#161616
}
.text_color_1{
	color:#ace200
}
.text_color_2{
	color:#ff6d24
}
.text_color_3{
	color:#ff1a92
}
.section_title{
	font-size:40px;
	margin:0;
}
.section_text p{
	font-size:16px;
	line-height:20px;
	font-weight:300;
}
.light_text{
	font-weight:300
}
.page_subtitle{
	font-weight:bold;
	font-size:18px;
	margin:15px 0
}
/*** HEADER ***/
#header_keepper{
	height:120px
}
#header{
	position:fixed;
	background:#000;
	padding:7px 0;
	z-index:9999
}
#main_logo{
	padding:20px 0;
}
#main_logo img{
	width:300px
}
/** HEADER MENU **/
#header_menu{
	list-style:none;
}
#header_menu li{
	display:inline-block;
	margin:15px 25px;
	position:relative
}
#header_menu li:first-child{
	margin-left:0
}
#header_menu li a{
	font:14px;
	position:relative;
	font-weight:400
}
#header_menu li a:not(.text_color_2){
	color:#FFF
}
#header_menu li:after{
	content:'';
	position:absolute;
	height:25px;
	width:1px;
	background:#FFF;
	top:-5px;
	right:-25px;
}
#header_menu li:last-child:after{
	display:none
}
#buy_button_header{
	margin-top:5px;
}
/*** SLIDER ***/
.ms-skin-default .ms-timerbar {top: 1px; bottom:auto;}
.ms-skin-default .ms-time-bar {
  height: 3px;
  background:white;
  background: rgba(255, 255, 255, 0.6);
  border-top: none;
}

.ms-layer {
  margin: 0;
  padding: 0;
  line-height: 100%;
  letter-spacing:0;
}
#slider_1_img{
	width:95%;
}
/*** BENEFICIOS ***/
#beneficios_bg {
	padding:20px 0;
	background:url(../images/beneficios_bg.jpg);
	background-size:cover;
	background-position:bottom right
}
#beneficios_title{
	position:absolute;
	left:-100px;
	top:20px;
}
#beneficios_text{
	padding:25px 0;
}

/*** CARACTERISTICAS ***/
#caracteristicas{
	padding:25px 0;
	background:url(../images/caracteristicas_bg.jpg);
	background-size:cover;
	background-position:center center;
}
#caracteristicas_title{
	margin:30px 0;
}
#carteristicas_main_img img{
	margin-top:-100px
}

/*** VIDEO ***/
#video{
	padding:25px 0
}
#videmo_main_wrapper{
	position:relative;
	margin:30px 0;
}
#video_over{
	position:absolute;
	right:0;
	bottom:0;
}
/*** MEJORAS ***/
#mejoras{
	padding:30px 0;
	background:url(../images/mejoras_bg.jpg);
	background-size:cover;
	background-position:center center;
}
#mejoras_main{
	margin-top:40px;
}
#mejoras_bc_evol .mejoras_main_img{
	margin-top:-65px
}
.mejoras_buy{
	margin-top:10px;
}

/*** COMPRAR ***/
.product_buy{
	float:left;
	width:calc(100% - 20px);
	padding:10px;
}
.product_data{
	margin-top:40px;
}
.product_title{
	font-size:22px;
}
.msi{
	font-size:16px;
}
.msi_price{
	font-size:50px;
	line-height:50px;
	margin-top:5px;
}
.ouspd{
	margin-top:10px;
}
.ouspd_price{
	font-size:24px;
	line-height:30px;
	margin:5px 0
}
.envio{
	font-size:20px;
}
.product_buy_button{
	margin-top:25px;
}

#comprar_bc_evol{
	background:#c2dc00;
	color:#000
}
#comprar_bc_evol input{
	width:calc(100% + 50px);
}
#comprar_bc_evol .product_buy_button{
	margin:-5px 0 20px -25px;
}

/*** BCS ***/
#bcs{
	padding:20px 0;
	background:url(../images/bcs_bg.jpg);
	background-size:cover;
	background-position:center center;
}
#bsc_title{
	font-size:37px;
}
.fb_msi{
	font-size:20px;
	font-weight:bold;
	margin-top:20px;
}
.fb_msi_price{
	font-size:50px
}
.fb_ouspd{
	font-size:20px;
	margin:20px 0;
}
.fb_ouspd_price{
	font-size:35px
}
#bcs_content_list{
	list-style:none;
	text-align:center;
	margin-top:20px;
}
#bcs_content_list li{
	float:left;
	width:23%;
	margin:0 1%;
}
#bcs_content_list li img{
	width:100%;
}
#bcs_content_list li:last-child img{
	width:calc(100% + 20px);
	max-width:none
}
#bcs_content_list li span{
	float:left;
	width:96%;
	padding:0 2%;
	font-size:16px;
	font-weight:bold;
	line-height:18px;
	margin-top:10px;
}

/*** GARANTIA ***/
#garantia{
	padding:60px 0;
	background:url(../images/garantia_bg.jpg);
	background-size:cover;
	background-position:center center;
}
#garantia_title{
	margin-bottom:30px;
}
#garantia_text p{
	margin-bottom:20px;
	font-size:16px;
}
#garantia_seal{
	width:270px;
	margin-top:-20px;
}

/*** SOCIAL ***/
#social{
	padding:25px 0;
	background:url(../images/social_bg.jpg);
	background-size:cover;
	background-position:center center;
}
.black_box{
	padding:20px 0;
}
.box_content{
	background:#FFF;
	padding:10px 0;
}
.box_title{
	margin:0 0 10px;
	font-size:20px;
}
#facebooko_comments_list{
	list-style:none
}
#facebooko_comments_list li{
	float:left;
	position:relative;
	width:calc(100% - 40px);
	padding:5px 20px;
	background:#e6e6e6;
	margin-bottom:5px;
	color:#161616;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif
}
.commment_thumb{
	float:left;
	width:70px;
}
.comment_content{
	float:left;
	width:calc(100% - 80px);
	margin-left:10px;
	margin-bottom:30px;
	font-size:12px;
	
}
.comment_name{
	color:#002e8e;
	font-weight:bold;
}
.comment_actions{
	float:left;
	position:absolute;
	bottom:5px;
	left:100px;
	font-size:12px;
	margin-top:5px;
	color:#666;
}
.comment_like{
	cursor:pointer;
	color:#002e8e;
	font-weight:bold;
}
#social_title{
	margin-bottom:20px;
}
#instagram_list{
	list-style:none;
	margin-bottom:15px
}
#instagram_list li{
	float:left;
	width:calc(25% - 20px);
	margin:10px;
}

/*** RETO BC ***/
#reto_bc{
	padding:25px 0;
}
#reto_bc_text{
	margin:40px 0
}
#video_over_carousel{
	position: absolute;
	bottom: 50px;
	left: 60%;
	width: 130px;
	z-index: 999;
}

.download_app{
	float:left;
	width:100%;
	text-align:center;
	padding:30px 0
}
/*** FOOTER ***/
#footer{
	padding:15px 0;
	background:#ade100;
	color:#000
}
#footer_menu{
	list-style:none;
	text-align:center;
	margin-top:25px;
}
#footer_menu li{
	display:inline-block;
	margin:0 15px;
	position:relative
}
#footer_menu li:after{
	content:'';
	position:absolute;
	top:-2px;
	right:-15px;
	height:20px;
	width:1px;
	background:#000
}
#footer_menu li a{
	color:#000;
	float:left;
}
