html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
body{background:#000}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a, a:hover{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}

h1,h2,h3,h4,h5,h6{
	float:left;
	width:100%;
	margin-bottom:10px;
}
h1{font-size:30px}
h2{font-size:25px}
h3{font-size:22px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}

p{
	float:left;
	width:100%;
	margin-bottom:15px
}
#page_wrapper{
	float:left;
	width:100%;
	font-family:'Open Sans', sans-serif;
	color:#FFF;
	position:relative;
	z-index:99;
	overflow:hidden;
	margin-top:-20px;
}
.wall_bg{
	float:left;
	width:100%;
	background: url(../images/body_back.jpg) top center no-repeat;
	background-color:#000;
	position:relative;
	z-index:99;
}
ul.list, ul.list li{
	float:left;
	width:100%;
}
.px1300{
	width:98%;
	max-width:1300px;
	margin:0 auto;
	padding:0 1%;
}
.px1000{
	width:98%;
	max-width:1000px;
	margin:0 auto;
	padding:0 1%;
	
}
.page_section{
	float:left;
	width:100%;
	margin:20px 0;
	padding:20px 0;
}
/* HEADER */
header, .header_main_bar{
	float:left;
	width:100%;
	background:#000
}
.header_main_bar{
	margin:30px 0;
}


.main_logo{
	float:left;
	width:50%;
	max-width:649px;
	text-align:left;
}
.main_logo img{
	width:100%;
	max-width:345px;
}
.inova_tel img{
	width:100%;
	max-width:300px;
}
.inova_tel{
	float:left;
	width:50%;
	max-width:649px;
	text-align:right;
}
.header_menu{
	float:left;
	width:100%;
	background:rgba(59,59,59,1);
	position:fixed;
	z-index:99999;
	color:#FFF;
	display:block !important;
}
.header_menu .menu_bar_logo a{
	display:none
}
.header_menu.is_stuck .menu_bar_logo a{
	display:block
}
.header_menu .menu_bar_logo img, .header_menu .menu_bar_tel img{
	width:100%;
}
.header_menu .menu_bar_tel img{
	max-width:200px
}
.header_menu.is_stuck .menu_bar_logo,.header_menu.is_stuck .menu_bar_tel{
	opacity:1;
}
.header_menu{
	padding-top:30px;
}
.header_menu ul{
	float:left;
	width:70%;
	text-align:center;
	margin:0;
	padding:0;
	list-style:none;
}
.header_menu ul li{
	float:left;
	margin:0;
	padding:0;
}
.header_menu ul li.cart_in_menu{
	margin-top:0;
	padding:0;
	float:right;
}
.header_menu ul li.cart_in_menu .btn-cart{
	background:#F93
}
.header_menu ul li a{
	font-size:16px;
	font-weight:100;
}
li.n_link a{
	color:#FFF;
	font-size:16px;
	font-weight:100;
	padding:10px 20px;
	float:left;
	font-family:'Open Sans', sans-serif;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	font-weight:bold;
}
.header_menu.is_stuck ul{
	width:60%;
	margin:0 5%
}
.header_menu.is_stuck ul li a{
	font-size:14px;
	font-weight:100;
	padding:10px;
}
.header_menu ul li a:hover{
	color:#F90
}
.slider, .slider img{
	float:left;
	width:100%;
}
.slider{
	background:rgba(0,0,0,0.3)
}
.after_slider{
	float:left;
	width:100%;
	height:80px;
	background: rgba(153,153,153,0.5);
}
.col_set{
	float:left;
	width:100%;
	margin-bottom:20px;
}
.col_2{
	float:left;
	width:48%;
	margin:0 1%;
}
.col_3{
	float:left;
	width:31.33%;
	margin:10px 1%;
	text-align:center;
}
.col_3 img{
	width:100%;
}
.shop_section{
	float:left;
	width:96%;
	position:relative;
	background:rgba(0,0,0,0.7);
	padding:20px 2%;
	margin:100px 0;
	z-index:1;
}
.center_title, .big_title{
	float:left;
	width:100%;
	text-align:center;
	font-family:'Open Sans', sans-serif;
	font-weight:bold;
	margin:30px 0;
	color:#FFF;
}
.big_title{
	font-size:45px;
}
.video_frame {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden
}
.video_frame iframe,.video_frame embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
.product_description{
	float:left;
	width:100%;
	padding:20px 0;
	margin-bottom:50px;
	color:#FFF
}
.promo_section{
	float:left;
	width:94%;
	padding:50px 3%;
	background:#161616;
	color:#FFF
}
.buy_section{
	float:left;
	width:50%;
}
.buy_title{
	float:left;
	width:100%;
	font-family:'Open Sans', sans-serif;
	text-align:center;
	font-size:23px;
	color:#fff;
	margin-bottom:10px;
	padding:12px 0;
	border-bottom:1px solid #999;
}
.buy_op, .buy_op_b{
	float:left;
	width:100%;
	text-align:center;
	font-size:30px;
	margin:10px 0;
}
.buy_op .label{
	color:#CCC;
	font-size:18px;
	font-style:italic; 
}
.buy_op .value{
	color:#FFF;

}
.prom_title{
	float:left;
	width:100%;
	font-family:'Open Sans', sans-serif;
	text-align:center;
	font-size:20px;
	margin-bottom:10px;
	padding-bottom:5px;
	border-bottom:1px solid #999;
}
.prom_form{
	float:left;
	width:48%;
	margin-right:2%;
}
.prom_form input[type="text"]{
	float:left;
	width:96%;
	padding:10px 2%;
	font-size:16px;
	color:#FFF;
	border:none;
	border-radius:5px;
	-webkit-border-radius:5px;
	outline: none;
	background:rgba(255,255,255,0.3);
	-moz-box-shadow:inset 1px 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow:inset 1px 1px 3px rgba(0,0,0,0.5);
	box-shadow:inset 1px 1px 3px rgba(0,0,0,0.5);
}
.prom_form input[type="text"]:focus{
	background:rgba(255,255,255,0.7);
}
.prom_form .send_button{
	float:left;
	width:100%;
	padding:10px 2%;
	text-align:center;
	font-size:16px;
	color:#FFF;
	border:none;
	border-radius:3px;
	-webkit-border-radius:3px;
	outline: none;
	background:rgba(255,255,255,0.3);
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	cursor:pointer;
}
.prom_form .send_button:hover{
	background:#F63
}
.prom_form .send_button:active{
	-moz-box-shadow:inset 1px 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow:inset 1px 1px 3px rgba(0,0,0,0.5);
	box-shadow:inset 1px 1px 3px rgba(0,0,0,0.5);
}
.input_full{
	float:left;
	width:100%;
	margin-bottom:5px;
}
.input_half{
	float:left;
	width:49%;
	margin-bottom:5px;
}
.input_half.last{
	margin-left:2%;
}
.divider{
	float:left;
	width:100%;
	height:10px;
	background:#fff;
	background:rgba(255,255,255,0.5);
	margin:20px 0;
}
footer{
	float:left;
	width:100%;
	padding:30px 0;
	background:#8F8F8F;
}
.crights{
	float:left;
	width:100%;
	text-align:right;
	font-size:12px;
	color:#f5f5f5;
	font-family:Arial, Helvetica, sans-serif;
}
.crights a{
	color:#FFF;
	text-decoration:none;
}
.button {
	display: inline-block;
	background:#FF9D00;
	padding: 7px 19px 9px;
	text-decoration: none;
	color: #fff;
	line-height: 18px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	margin-top: 24px;
	position: relative;
	overflow: hidden;
	cursor:pointer;
}
.button:hover {
	color: #fff;
	text-decoration: none;
}
.button strong { position: relative; display: block;z-index: 2;font-weight: normal;color: #FFF;}
.button:hover strong {color: #ffffff;}
.button span {
	background:#F90;
	display: block;
	height: 0;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 0;
	z-index: 1;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.button.button_inverse {
	background: #FF9D00;
}
.button span {
	background:#999;
}
.center_button{
	float:left;
	width:100%;
	text-align:center;
}
.button.big_button{
	padding:20px 60px;
	font-size:22px
}
.camera_wrap {height:480px;}
.hightlight{
	color:#F90
}

/*arrows*/
.camera_prev, .camera_next, .camera_commands {
	opacity: 1 !important;
}
.slider .camera_prev {
	left: auto;
	left: 0px;
	bottom: 2px;
	top: auto;
}
.slider .camera_next {
	left: 43px;
	bottom: 2px;
	top: auto;
	background:#000;
}

.slider .camera_prev > span,
.slider .camera_next > span {
	moz-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    -webkit-transition: background 0.3s ease-out;
}
.slider .camera_prev > span {
	display: block;
	height: 42px;
	width: 43px;
	text-indent: -5000px;
	background: url(../images/arrows-1.gif) 0 bottom no-repeat;
}
.slider .camera_prev > span:hover {
	background: url(../images/arrows-1.gif) 0 0 no-repeat;
}
.slider .camera_next > span {
	display: block;
	display: block;
	height: 42px;
	width: 43px;
	text-indent: -5000px;
	background: url(../images/arrows-1.gif) right bottom no-repeat;
}
.slider .camera_next > span:hover {
	background: url(../images/arrows-1.gif) right 0 no-repeat;
}

.row-1 h2 {padding-top: 76px;}
.row-1 img  {padding: 0px 0 23px;}

.social_icons{
	float:left;
	width:100%;
}
.social_icons ul{
	float:left;
	width:100%;
	margin:0;
	padding:0;
	text-align:left;
}
.social_icons ul li{
	display:inline-block;
	width:30px;
	height:30px;
}
.social_icons ul li img{
	width:30px;
	height:30px;
}
.share_buttons{
	width:100%;
	float:right;
	margin-top:10px;
}
.share_buttons ul{
	float:right;
	width:100%;
	margin:0;
	padding:0;
	text-align:right;
	list-style:none;
}
.share_buttons ul li{
	display:inline-block;
}
.paq_descrption{
	float:left;
	width:100%;
	text-align:center;
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	padding:10px 0;
}
.prod_name{
	float:left;
	width:100%;
	color:#FF9D00;
	margin:10px 0;
}
.precios {
	float:left;
	width:100%;
	text-align:center;
	font-size:14px;
	margin:0;
}
.precios.p_reg span{
	font-size:16px;
	color:#999;
	text-decoration: line-through;
}
.precios.p_paq span{
	font-size:18px;
	color:#FF9D00;
}
.precios.p_ahorro{
	margin-top:5px;
	line-height:25px;
}
.precios.p_ahorro span{
	font-size:35px;
	color:#FF9D00;
}
.info_link{
	float:left;
	width:100%;
	text-align:center;
	color:#999;
	font-size:12px;
	margin-top:20px;
	margin-bottom:10px
}
.paq_descrption .button{
	margin-top:5px;
}
.product_shop{
	text-align:center;
}
.product_shop img{
	width:100%;
	max-width:390px;
}
.submenu{
	float:left;
	width:100%;
}
.submenu ul{
	float:left;
	width:100%;
	margin:0;
	padding:0;
	text-align:center;
}
.submenu ul li{
	display:inline-block;
	
}
.submenu ul li a{
	float:left;
	color:#FFF;
	margin:20px;
	padding-bottom:5px;
	border-bottom: 2px dotted #F90;
}
.submenu ul li a:hover{
	color:#F90;
	border-bottom: 2px dotted #FFF;
}
.section_title{
	margin-bottom:30px;
}
.member_list{
	float:left;
	width:100%;
	margin:0;
	padding:0;
}
.member_list li{
	float:left;
	width:100%;
	display:inline-block;
	margin-bottom:40px;
}
.profile_pic{
	float:left;
	width:18%;
	margin-right:2%;
}
.profile_pic img{
	width:100%;
}
.member_list_sumary{
	float:left;
	width:80%;
}
.no_pad{
	margin:0;
	padding:0;
	list-style:none;
}
.center_text{
	text-align:center
}
.medidas_tab{
	float:left;
	width:100%;
}
.medidas_tab tr{
	font-size:12px
}
.medidas_tab tr, .medidas_tab td{
	position:relative;
	float:left;
}
.medidas_tab tr{
	width:100%;
}
.medidas_tab td{
	width:20%;
	min-width:200px;
	padding:10px 0;
}
.t_head{
	padding:10px 0;
	background:#F93;
}
.s_name{
	text-align:center;
}
.s_name img{
	width:100%;
	max-width:100px;
}
.t_back_1{
	background:#CCC;
	height:100px;
	color:#161616
}
.t_back_2{
	background:#e6e6e6;
	height:100px;
	color:#161616
}
.cartMenu{
	float:left;
	color:#333;
	width:350px
}
.cartContainer{
	float:left;
	width:95%;
	margin:5px 2.5%;
}
.cart_title{
	width:100%;
	text-align:center;
	border-bottom:1px solid #CCC;
	margin-bottom:10px;
	font-size:16px;
}
.btn-checkout, .header_menu.is_stuck .btn-checkout{
	background:#3C6;
	color:#FFF;
	padding:7px 10px;
	font-size:14px;
	color:#FFF;
}
.header_menu.is_stuck .btn-checkout:hover, .btn-checkout:hover{
	color:#FFF !important
}
.cart_img, .cart_qty{
	width:15%;
	text-align:center;
}
.cart_price, .cart_subtotal, .cart_action{
	width:10%;
	text-align:center;
}
.continue_shopping, .continue_shopping:hover{
	background:#F90;
	color:#FFF !important
}
.actionCheckout, .actionCheckout:hover{
	background:#a0db23 !important;
	color:#FFF !important;
	padding:7px 50px !important;
	font-size:18px;
	border:none !important
}
@media only screen and (max-width: 649px){
.main_logo{
	width:100%;
	text-align:center;
}
.inova_tel{
	width:100%;
	text-align:center;
}
.col_2, .col_3{
	float:left;
	width:99%;
	margin:5px 0.5%;
}
.social_icons ul{
	text-align:center;
}
.crights{
	text-align:center;
	margin:10px 0;
}
.buy_section, .prom_form{
	width:100%;
	margin:10px 0;
}
}